<!-- <div class="row my-underline-row">

<div class="col-xs-12 col-md-6 col-lg-6">
<div class="basket-product">
        <span>
           <img src="./assets/img/basket-product.png" alt="" class="basket-product__img">
        </span>
        <span>
            <div class="basket-product__text">
               101 роза
            </div>
        </span>
    </div>
</div>

  <div class="col-xs-4 col-md-2 col-lg-2"> 
<div class="basket-product__price">
    2999p
</div>
</div>

<div class="col-xs-4 col-md-2 col-lg-2">
        <div class="basket-product__number">
            2999p
        </div>
        </div>


        <div class="col-xs-2 col-md-1 col-lg-1">
                <div class="basket-product__all-price">
                    2999p
                </div>
                </div>

                <div class="col-xs-2 col-md-1 col-lg-1">
                        <div class="basket-product__close">
                                &times
                        </div>
                        </div>   

</div>     -->


<tr class=" my-underline-row">
    <th class="" scope="row">
        <div class="basket-product">

            <img src="./assets/img/basket-product.png" alt="" class="basket-product__img">


            <div class="basket-product__text">
                101 роза
            </div>

        </div>
    </th>



    <td>
        <div class=" basket-product__price">
            2999p
        </div>
    </td>
    <td>
        <input type="number" class=" basket-product__number">

        </input>
    </td>
    <td>
        <div class=" basket-product__all-price">
            2999p
        </div>
    </td>

    <td>
        <a href="" class="col-xs-2 basket-product__close"> &times
        </a>
    </td>
</tr>