<tr class=" my-underline-row">
    <th class="" scope="row">
        <div class="basket-product">

            <img src="./assets/img/basket-product.png" alt="" class="basket-product__img">


            <div class="basket-product__text">
                101 роза
            </div>

        </div>
    </th>



    <td>
        <div class=" basket-product__price">
            2999p
        </div>
    </td>
    <td>
        <div class="basket-product__number">
            <span class="number-booked">1шт.</span>
        </div>
    </td>
    <td>
        <div class=" basket-product__all-price">
            2999p
        </div>
    </td>
    <td></td>

</tr>