<div class="basket-wrap">
    <h3>МОЯ КОРЗИНА</h3>
    <p class="basket">Товары в корзине</p>


    <table class="table my-table">
        <thead>
            <tr class="my-row">
                <th scope="col">Товары</th>
                <th scope="col">Цена</th>
                <th scope="col">Колличество</th>
                <th scope="col">сумма</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="container">
            <partial src="basket-product.html"></partial>
            <partial src="basket-product.html"></partial>
            <partial src="basket-product.html"></partial>
        </tbody>
    </table>

    <!-- .............................................................. -->
    <form action="checkout.html" class="checkout">

        <div class="services">
            <div class="services__item form-group">
                <label for="free-card" class="services__label">

                    <img src="./assets/img/flBasket.png" alt="" class="services__img">
                    <input type="checkbox" class="services__checkbox" id="free-card">
                    <div class="custom-checkbox"></div>
                    Добавить открытку (бесплатно)
                </label>
            </div>
            <div class="services__item form-group">
                <label for="take-picture" class="services__label">

                    <img src="./assets/img/instagram-red.png" alt="" class="services__img">

                    <input type="checkbox" class="services__checkbox" id="take-picture">
                    <div class="custom-checkbox"></div>

                    Сделать фото при получении
                </label>
            </div>
        </div>

        <div class="price-for-products-wrap">
            <div class="price-for-products">Всего товаров на сумму:
                <div class="price-for-products__bold">10800р.</div>
            </div>
        </div>

        <h4 class="delivery-tittle">Доставка</h4>

        <div class="checkout__block">

            <div class="form-check checkout__line">
                <label class="form-check-label checkout__label" for="Radios1">

                    <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>
                    <div class="custom-radio"></div>

                    Не требуется (самовывоз)
                </label>
            </div>


            <div class="form-check checkout__line">
                <label class="form-check-label checkout__label" for="Radios2">

                    <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">
                    <div class="custom-radio">
                    </div>

                    Город - 250 р.
                </label>
            </div>


            <div class="form-check checkout__line">
                <label class="form-check-label checkout__label" for="Radios3">

                    <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="option3" c>

                    <div class="custom-radio"></div>
                    Ростоши, Южный, Авиагородок, Кушкуль - 350 р.
                </label>
            </div>


            <div class="form-check checkout__line">
                <label class="form-check-label checkout__label" for="Radios4">

                    <input class="form-check-input" type="radio" name="Radios" id="Radios4" value="option4">
                    <div class="custom-radio"></div>

                    Юж.Урал, 9 Января, Ивановка, Пригородны - 400 р.
                </label>
            </div>


            <div class="form-check checkout__line">
                <label class="form-check-label checkout__label" for="Radios5">

                    <input class="form-check-input" type="radio" name="Radios" id="Radios5" value="option5">
                    <div class="custom-radio"></div>

                    Нежинка, Экодолье, х. Степановский, п. Ленина - 450 р.
                </label>
            </div>


            <div class="form-check checkout__line">
                <label class="form-check-label checkout__label" for="Radios6">

                    <input class="form-check-input" type="radio" name="Radios" id="Radios6" value="option6">
                    <div class="custom-radio"></div>

                    Аэропорт, Благословенка, П. Покровка - 550 р.
                </label>
            </div>
        </div>








        <div class="price-for-products-wrap">
            <div class="price-for-products">Общая стоимость заказа:
                <div class="price-for-products__bold">11500р.</div>
            </div>
        </div>

        <div class="button-box-right">
            <button type="submit" class="btn my-button">ОФОРМИТЬ ЗАКАЗ</button>
        </div>
    </form>


    <!-- .............................................................. -->
    <h2 class="special-high">РЕКОМЕНДУЕМ</h2>
    <div class="container">
        <div class="row">
            <partial src="card-best-price.html"></partial>
            <partial src="card-NEW.html"></partial>
            <partial src="card-best-price.html"></partial>


        </div>
    </div>


</div>