<tr class=" my-underline-row">
    <th class="" scope="row">
        <div class="basket-product">

            <img src="./assets/img/basket-product.png" alt="" class="basket-product__img">


            <div class="basket-product__text">
                101 роза
            </div>

        </div>
    </th>



    <td>
        <div class=" basket-product__price">
            2999p
        </div>
    </td>
    <td>
        <div class="basket-product__number">
            <button class="decrease">
                < </button> <input type="number" id="number" class=" number" min="1" value="1"></input>
                    <button class="increase"> > </button>

        </div>
    </td>
    <td>
        <div class=" basket-product__all-price">
            2999p
        </div>
    </td>

    <td>
        <a href="" class="col-xs-2 basket-product__close"> &times
        </a>
    </td>
</tr>