    <div class="col-xs-12 col-sm-4 col-lg-4  no-padding">
      <div class="relative-for-card">
        <div class="rose-card">
          <div class="card rose-card__wrap">
            <!--  <div class="rose-card__content"> -->
            <img class="rose-card__img" src="./assets/img/production-rose.png" class="card-img-top"
              alt="production rose">
            <div class="card-body rose-card__box">
              <h5 class="card-title rose-card__number">101 роза</h5>
              <p class="card-text rose-card__price">2999р</p>
              <!-- </div> -->
            </div>
            <div class="rose-card__hover-content">
              <a href="#" class="rose-card__booking">ЗАКАЗАТЬ</a>
              <p class="rose-card__description">Купить в один клик</p>
            </div>
          </div>
        </div>
      </div>
    </div>