<div class="container">
    <div class="changed-product-box">

        <div class="changed-product">

            <div class="slider slider-nav slider-for-sidebar">
                <div>
                    <img src="./assets/img/big-rose.png" alt=""> </div>
                <div>
                    <img src="./assets/img/big-rose.png" alt=""> </div>
                <div>
                    <img src="./assets/img/big-rose.png" alt=""> </div>

            </div>
            <div class="slider slider-for slider-for-product">

                <div><a href="./assets/img/big-rose.png" class="loop-img"><img src="./assets/img/big-rose.png"
                            alt=""></a></div>
                <div><a href="./assets/img/big-rose.png" class="loop-img"><img src="./assets/img/big-rose.png"
                            alt=""></a></div>
                <div><a href="./assets/img/big-rose.png" class="loop-img"><img src="./assets/img/big-rose.png"
                            alt=""></a></div>

            </div>
        </div>


        <div class="inf-product">
            <form action="checkout.html">
                <div class="sale sale--changed new">новинка</div>

                <h5 class="name-product">101 роза</h5>

                <h5 class="old-price">4959p.</h5>
                <span class="price-box">
                    <h5 class="new-price">2999p.</h5>
                    <div class="basket-product__number product-number">
                        <button class="decrease">
                            < </button> <input type="number" id="number" class=" number" min="1" value="1"></input>
                                <button class="increase"> > </button>

                    </div>
                </span>

                <div class="button-box-center">
                    <button type="submit" class="btn my-button my-button--white"> ЗАКАЗАТЬ</button>
                </div>
            </form>

            <div class="description-product">
                Яркий, пестрый, оригинальный и привлекательный букет
                состоит из ста одной прекрасной розы самых
                разнообразных оттенков, среди которых: чувственные
                алые и неповторимо оранжевые цветы.
            </div>

            <div class="constitute">
                Роза 42 см , крафтовая бумага
            </div>
        </div>
    </div>
    <partial src="comments.html"></partial>

</div>