<h2 class="indent tittle">ОТЗЫВЫ О САЛОНЕ</h2>
<div class="container">
  <div class="relative-for-button">
    <section class="regular slider comment-slider">
      <div>

        <partial src="comment.html"></partial>
      </div>
      <div>
        <partial src="comment.html"></partial>
      </div>
      <div>
        <partial src="comment.html"></partial>
      </div>

    </section>
    <div class="prev-button">
      <img src="./assets/img/prev-icon.png" alt=""></div>
    <div class="next-button"><img src="./assets/img/next-icon.png" alt="">
    </div>
  </div>
</div>