<div class="contacts">
      <partial src="contact.html"></partial>
      <partial src="contact.html"></partial>

      <h3>ОБРАТНАЯ СВЯЗЬ </h3>
      <form class="my-form">
            <div class="form-group">
                  <label for="InputName"></label>
                  <input type="text" class="form-control my-form__my-form-control" id="InputName"
                        aria-describedby="nameHelp" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                  <label for="InputNumber"></label>
                  <input type="tel" class="form-control my-form__my-form-control" id="InputNumber"
                        aria-describedby="numberHelp" placeholder="Ваш номер телефона">
            </div>
            <div class="form-group">
                  <label for="FormControlTextarea1"></label>
                  <textarea class="form-control my-form__my-form-control 
                  my-form__my-form-control-text" id="FormControlTextarea1" rows="3"
                        placeholder="Текст сообщения"></textarea>
            </div>
            <div class="form-group form-check">
                  <label class="form-check-label my-form__my-form-check-label" for="exampleCheck1">

                        <input type="checkbox" class="form-check-input my-form__my-form-check" id="exampleCheck1">
                        <div class="custom-checkbox"></div>
                        Я ознакомлен и согласен с политикой конфиденциальности
                  </label>
            </div>
            <div class="button-box-right">
                  <button type="submit" class="btn my-button">ОТПРАВИТЬ</button>
            </div>
      </form>



</div>