<h3>ЦВЕТОЧНЫЕ МАГАЗИНЫ РОЗА25</h3>
<div class="contacts-wrap">


    <div class="card-contact">
        <span>
            <img src="./assets/img/building.png" alt="" class="card-contact__img">
        </span>
        <span>
            <div class="card-contact__text">
                <div class="card__adress">
                    <span class="card-contact__bold">Адрес:</span>
                    пр-т Победы, 75 напротив ост. "Дом Памяти"

                </div>
                <div class="card-contact__time">
                    <span class="card-contact__bold">Время работы:</span>
                    круглосуточно

                </div>
            </div>
        </span>
    </div>

    <div class="card-contact">
        <span>
            <img src="./assets/img/building.png" alt="" class="card-contact__img">
        </span>
        <span>
            <div class="card-contact__text">
                <div class="card__adress">
                    <span class="card-contact__bold">Адрес:</span>
                    пр-т Победы, 75 напротив ост. "Дом Памяти"

                </div>
                <div class="card-contact__time">
                    <span class="card-contact__bold">Время работы:</span>
                    круглосуточно

                </div>
            </div>
        </span>
    </div>

    <div class="card-contact">
        <span>
            <img src="./assets/img/building.png" alt="" class="card-contact__img">
        </span>
        <span>
            <div class="card-contact__text">
                <div class="card__adress">
                    <span class="card-contact__bold">Адрес:</span>
                    пр-т Победы, 75 напротив ост. "Дом Памяти"

                </div>
                <div class="card-contact__time">
                    <span class="card-contact__bold">Время работы:</span>
                    круглосуточно

                </div>
            </div>
        </span>
    </div>


    <div class="card-contact">
        <span>
            <img src="./assets/img/building.png" alt="" class="card-contact__img">
        </span>
        <span>
            <div class="card-contact__text">
                <div class="card__adress">
                    <span class="card-contact__bold">Адрес:</span>
                    пр-т Победы, 75 напротив ост. "Дом Памяти"

                </div>
                <div class="card-contact__time">
                    <span class="card-contact__bold">Время работы:</span>
                    круглосуточно

                </div>
            </div>
        </span>
    </div>
</div>
<img class="map" src="./assets/img/map.png" alt="map">