<footer class="footer">
    <partial src="nav-footer.html"></partial>

    <div class="container">
        <div class="row">
            <!-- first -->
            <div class="col-xs-12 col-lg-3 my-column">

                <ul class="about-company mobile-display-none">
                    <li class="points"> <a href="#">О компании</a></li>

                    <li class="about-company__points"> <a href="#">Оплата и доставка</a> </li>

                    <li class="about-company__points"> <a href="contacts.html">Контакты</a> </li>

                    <li class="about-company__points"> <a href="#">Реквизиты</a> </li>

                    <li class="about-company__points"> <a href="#">Отзывы</a> </li>

                    <li class="about-company__points"> <a href="#">Для корпоративных клиентов</a> </li>
                </ul>
                <div class="networks">
                    <a href="#" class="networks__links">
                        <img class="networks__img" src="./assets/img/vk.png" alt="vk"></a>
                    <a href="#" class="networks__links">
                        <img class="networks__img" src="./assets/img/instagram.png" alt="instagram"></a>
                    <a href="#" class="networks__links">
                        <img class="networks__img" src="./assets/img/Odnoklassniki.png" alt="odnoklassniki">
                    </a>
                </div>
            </div>
            <!-- second -->
            <div class="col-xs-12 col-lg-3 my-column">
                <div class="field-with-icon white-phone"><a href="tel:+7 (3532) 452-255">+7 (3532) 452-255</a></div>
                <div class="field-with-icon white-phone"><a href="tel:+7 (3532) 452-255">+7 (3532) 452-255</a></div>
                <div class="adress">
                    Адрес интернет-магазина:
                    <div class="adress__place">
                        ул. Чкалова, 20
                    </div>
                </div>
            </div>
            <!-- third -->
            <div class="col-xs-12 col-lg-3 my-column mobile-display-none">
                <div class="delivery">
                    <div class="delivery__tittle">
                        ДОСТАВКА
                    </div>
                    <ul>
                        <li class="delivery__items">Доставка от 350 рублей по городу.</li>
                        <li class="delivery__items"> Стоимость автоматически добавляется
                            к заказу при выборе варианта с доставкой</li>
                        <li class="delivery__items">в течение 2-х часов или самовывозом</li>
                    </ul>
                </div>
            </div>

            <!-- fourth -->
            <div class="col-xs-12 col-lg-3 my-column mobile-display-none">
                <div class="payment">
                    <div class="payment__tittle">ОПЛАТА</div>
                    <div class="payment__banks"> <img class="payment__img" src="./assets/img/banks.png" alt=""></div>
                    <div class="payment__text">-оплата наличными при самовывозе</div>
                    <div class="payment__text">-оплата на карту Сбербанка 5469 0600 1815 0745</div>
                </div>
            </div>
        </div>
    </div>
</footer>