<div class="header">
    
    <header>
        <div class="special-offer">
                <a href="#" class="to-close">&times</a>

            <div class="special-offer__width">
            СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ ДЛЯ КОРПОРАТИВНЫХ КЛИЕНТОВ
        </div>
        </div>
    
    <div class="information">


        <div class="information__items"> 
           <a href="index.html" class="information__link">
                <img class="information__logo" src="./assets/img/logo.png" 
                alt="logo Rose25"></a> 
        </div>


        <div class="information__items  information__items-mobile">
            <div class="information__text">Выберите город:</div>
            <span class="information__icons information__icons-city">
                <select class="information__check-city"> 
                        <option class="information__city">Оренбург</option>
                        <option class="information__city">Уфа</option>
                </select>
            </span>
        </div>


        <div class="information__items information__items-mobile">
            <div class="information__text">Круглосуточная доставка</div>
            <span class="information__icons information__icons-phone">+7 (3532) 452-255</span>
            <span class="information__icons information__icons-phone">+7 (3532) 452-255</span>
        </div>


        <div class="information__items information__items-bottom">
                <span class="information__icons information__icons-basket"> <a href="basket.html">2340 руб.</a> </span>
        </div>
    </div>
</div>
<partial src="nav.html"></partial>
