<div class="header">
    <div id="progressbar"></div>

    <header>
        <div class="special-offer">
            <a href="#" class="to-close">&times</a>

            <div class="special-offer__width">
                СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ ДЛЯ КОРПОРАТИВНЫХ КЛИЕНТОВ
            </div>
        </div>

        <div class="information">


            <div class="information__items">
                <a href="index.html" class="information__link">
                    <img class="information__logo" src="./assets/img/logo.png" alt="logo Rose25"></a>
            </div>


            <div class="information__items  information__items-mobile">
                <div class="information__text">Выберите город:</div>
                <span class="information__icons information__icons-city">
                    <div class="check-city-block check-city-block--icon sticky-top">

                        <select class="check-city">
                            <option class="check-city__city">Оренбург</option>
                            <option class="check-city__city">Уфа</option>
                        </select multiple>
                    </div>
                </span>
            </div>


            <div class="information__items information__items-mobile">
                <div class="information__text">Круглосуточная доставка</div>
                <a href="tel:+7 (3532) 452-255" class="information__icons information__icons-phone">+7 (3532)
                    452-255</a>
                <a href="tel:+7 (3532) 452-255" class="information__icons information__icons-phone">+7 (3532)
                    452-255</a>
            </div>


            <div class="information__items information__items-bottom">
                <span class="information__icons information__icons-basket"> <a href="basket.html">2340 руб.</a> </span>
            </div>
        </div>
</div>
<partial src="nav.html"></partial>