<nav class="my-nav navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <!-- <div class="container"> -->


    <button class=" no-border navbar-toggler" type="button"
     data-toggle="collapse" data-target="#navbarSupportedContent" 
     aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
        <img class="burger" src="./assets/img/burger.png" alt="">
    </button>
    <div class="navbar-brand mobile-hide">
    <a class="display-block" href="#">+7 (3532) 452-255</a>
    <a class="display-block" href="#">+7 (3532) 452-255</a>
    </div>

    <div class="navbar-brand mobile-hide">
     
      <select class="my-nav__check-city"> 
        <option class="my-nav__city">Оренбург</option>
        <option class="my-nav__city">Уфа</option>
</select>

    </div>

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" my-ul navbar-nav mr-auto w-100 justify-content-center">

        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>  -->

        <li class="nav-item">
          <a class="nav-link active" href="#">АКЦИИ</a>
        </li>

        <li class="nav-item">
                <a class="nav-link active" href="catalog.html">КАТАЛОГИ ЦВЕТОВ</a>
        </li>

        <li class="nav-item">
                <a class="nav-link active" href="#">БУКЕТЫ И КОМПОЗИЦИИ</a>
        </li>

        <li class="nav-item">
                <a class="nav-link active" href="#">СВАДЕБНЫЕ БУКЕТЫ</a>
       </li>

        <li class="nav-item active">
                    <a class="nav-link" href="#">ПОДАРКИ</a>
      </li>
        <div class="hidden-ul mobile-hide">
                <li class="nav-item little-margin">
                        <a class="nav-link active" href="#">О компании</a>
               </li>
               <li class="nav-item little-margin">
                    <a class="nav-link active" href="#">Оплата и доставка</a>
           </li>
           <li class="nav-item little-margin">
                <a class="nav-link active" href="contacts.html">Контакты</a>
       </li>
       <li class="nav-item little-margin">
            <a class="nav-link active" href="#">Реквизиты</a>
   </li>
   <li class="nav-item little-margin">
        <a class="nav-link active" href="#">Отзывы</a>
</li>
<li class="nav-item little-margin">
    <a class="nav-link active" href="#">Для корпоративных клиентов</a>
</li>
        </div>
      </ul>
    
    </div>
<!-- </div> -->
  </nav>