<div class="processed-order">
    <h3>Ваш заказ №23 принят</h3>
    <div class="inf-box">

        <div class="information-field">Имя:<span class="bold">Андрей Иванов</span></div>
        <div class="information-field">Телефон:<span class="bold">+7(999)555-77-77</span></div>
    </div>
    <p class="basket">Состав заказа</p>

    <table class="table my-table">
        <thead>
            <tr class="my-row">
                <th scope="col">Товары</th>
                <th scope="col">Цена</th>
                <th scope="col">Колличество</th>
                <th scope="col">сумма</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="container">
            <partial src="basket-product-booked.html"></partial>

            <tr class=" my-underline-row delivery-box">
                <th scope="row">
                    <div class="delivery __text"> Доставка</div>
                </th>
                <td class="display-none"></td>
                <td class="display-none"></td>
                <td>
                    <div class="delivery __text">
                        Не требуется(самовывоз)</div>
                </td>
                <td></td>
            </tr>
        </tbody>

    </table>
    <div class="inf-box">
        <div class="information-field">Общая стоимость заказа:<span class="bold">11050p.</span></div>
        <div class="information-field">Сумма скидки:<span class="bold">0</span></div>
        <div class="information-field">Итого к оплате:<span class="bold">11050p.</span></div>
    </div>



</div>