html,
body {
    font-size: 62.5%;
    font-family: Open Sans;
    position: relative;
}

// colors
$white: #FFFFFF;
$red: #B10802;
$dark-red: #8b0000;
$green: #028B0B;
$black: black;
$my-black: #343434;
$bg-color: white;
$grey:rgba(196, 196, 196, 0.31);
$pink: #FF499F;
$light-green: #19AC23;




// variables
$my-border: solid 2px $black;
$light: all .5s linear;
$bg-form: no-repeat /cover center;
$my-shadow: 0 0 5px $white,
3px 3px 5px rgba(0, 0, 0, .5);



// mixins

@mixin text ($family, $size, $weight, $color, $height) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $height;
}

@mixin absolute ($position, $left, $top, $z-index) {
    position: $position;
    left: $left;
    top: $top;
    z-index: $z-index;
}

@mixin flex ($display, $j-content, $wrap) {
    display: $display;
    justify-content: $j-content;
    flex-wrap: $wrap;
}

// fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');