.basket-wrap {
    max-width: 120rem;
    margin: 0 auto;
    @include text(Open Sans, 1.8rem, 600, $my-black, 2.5rem);
}

.my-table {
    @include text(Open Sans, 1.8rem, normal, $my-black, 2.5rem);

}

.my-row {
    background-color: $grey;
}

.basket {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.my-underline-row {
    border-bottom: 1px solid $my-black !important;
    margin-top: 2rem;
    padding-bottom: 2rem;

    input {
        display: inline-block;
    }
}



.basket-product {
    margin: 0;
    @include text(Open Sans, 1.8rem, normal, $my-black, 2.5rem);
    display: inline-flex;


    &__text {
        margin-left: 3rem;
    }

    &__close {
        color: $red;
        font-size: 3rem;

        &:hover {
            color: $dark-red;
        }
    }

    &__number {
        padding: 0 5%;

        .number {
            width: 5rem;
            background-color: $bg-color;
            border: 1px solid $my-black;
            margin: 0 .5rem;
            text-align: center;

            &-booked {
                margin: 0 15%;
            }
        }

        .increase,
        .decrease {
            border: none;
            outline: none;
            background-color: $bg-color;
            padding: 0;
        }





        &:focus {
            border-color: $red;
        }
    }


}

.my-table td,
.my-table th {
    border-top: 0;
}

.services {
    margin: 3.5rem auto;
    @include flex (flex, space-between, wrap);
    width: 80%;

    &__item {
        margin: 2rem 0;
    }

    &__label {
        @include text (Open Sans, 1.6rem, normal, $black, 1.6rem);

    }

    &__img {
        margin: 0 1rem;
    }
}

.price-for-products-wrap {
    @include flex (flex, flex-end, no-wrap);
    margin: 1rem 3rem 4rem 0;

    &-last {
        margin-bottom: 40rem;
    }

}

.delivery-tittle {
    @include text (Open Sans, 2.4rem, 600, $black, 3.3rem);
    margin-bottom: 1.5rem;
    margin-left: 1rem;

}

.price-for-products {
    @include text (Open Sans, 2.4rem, normal, $black, 3.3rem);
    text-align: end;
    display: flex;


    &__bold {
        font-weight: bold;
        margin-left: 2rem;

    }
}

.checkout {

    &__label {
        padding-bottom: .5rem;
        margin-left: 1rem;
        @include text (Open Sans, 1.8rem, normal, $black, 2.5rem);
    }

    &__line {
        padding-top: 1rem;
        margin-left: 2rem;
    }

    &__block {
        border-bottom: $my-border;
        padding-bottom: 2rem;
    }




}

input {
    display: none;
}

.custom-radio {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    display: inline-block;
    margin-right: 1rem;
    margin-bottom: -.3rem;
    border: 1px solid $my-black;


}

input:checked+.custom-radio {
    background: $light-green;
}

.custom-checkbox {
    background: url(./assets/img/OK.png);
    background-position: center;


    width: 20px;
    height: 17px;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: -.2rem;
    border: 1px solid $my-black;
}

input:checked+.custom-checkbox {
    background: url(/assets/img/OK.png);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;


}