

body {
    background-color: $bg-color;
}


.special-offer {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
   background-color: $green;

@include text (Open Sans, 2.4rem, bold, $white, 2.4rem);
letter-spacing: 0.205em;

  text-align: center;
  box-shadow: 0px 0.5rem 3.1rem rgba(0, 0, 0, 0.4);
  height: 6rem;
  line-height: 6rem;
  display: block;
  }


.to-close  {
    float: right;
    margin-right: 2rem;
    line-height: 6rem;
    &:hover {
        text-shadow: 0 0 2rem rgba(255, 255, 255, 0.993);

    }
}

a {
    color:$white;
    text-decoration: none;
    &:hover {
        color: #eee;
        text-decoration: none;
    }
    
}

.information {
    margin: 1rem auto;
    width: 80%;
    @include flex (flex, space-around, wrap);

    &__logo {
        max-width: 26.8rem;
    }

    &__text {
        @include text (Open Sans, 1.5rem, normal, $black, 1.9 rem);
        margin-top: 1rem;
        margin-bottom: 1rem;

    }

    &__city:active {
        background: orange;
    }
  
  &__check-city{
    border: none;
    background: $bg-color;


  }

    &__items {
      
        &-bottom {
            display: flex;
        }
         
    }


&__icons {
    padding-left: 20px;
    margin-right: 10px;
    @include text (Open Sans, 2rem, bold, $red, 2.5 rem);

    a{
        color: $red;
    }


&-phone {
    background: url('../assets/img/phone.png') no-repeat left;
    background-size: 1.8rem;

}
&-basket {
    background: url('../assets/img/basket.png') no-repeat 4px 4px;
    background-size: 2rem;
    margin-top: 1rem;

    padding-left: 30px;
    align-items: flex-end;
    margin-top: 4rem;
}

&-city {
    background: url('../assets/img/city.png') no-repeat left;
    background-size: 1.8rem;


}
}
}





.my-nav{
&__city:active {
    background: orange;
}

&__check-city{
border: none;
background: $red;
font-size: 2rem;
color: $white;
background: url('../assets/img/white-basket.png') no-repeat left;
    background-size: 1.8rem;
    padding-left: 2rem;

}


    @include text (Open Sans, 2rem, bold, $white, 4.4rem);
    background-color: $red!important;
    padding: 0;
    min-height: 6rem;

    li{
        transition: $light;

        padding: 0 0.5rem;
        margin-right: 7rem;

    
    &:hover {
        background-color: $dark-red;
        }
    }

    .mobile-hide{
        display: none;
    }

    .no-border{
        border: none;
    }

    .hidden-ul{
        border-top: 1px $white solid;
        padding: 3rem 0;
    }

    .little-margin{
        margin-top: -0.6rem;
    }
   
}
