@media (max-width: 992px) {
   html, body{
        font-size: 48.5%;
    }

    .special-offer{
        font-size: 2rem;
    }

    .information{
        width: 100%;
    }
    span {
        display: block;
    }
  

    .rose-card__number{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .rose-card__price{
        font-size: 3rem;
        line-height: 3rem;
        padding-bottom: 2rem;

    }

    .rose-card__booking{
        font-size: 2.2rem;
        line-height: 2.2rem;
        padding: 1rem 5.5rem;

    }

    .rose-card__description{
        font-size: 2.4rem;
        line-height: 2.4rem;
    }

    .rose-card__img{
        width: 29rem;
        height: 28rem;
    }

    .big-margin {
        margin-top: 15rem;
    }

    .comment{
        &__data{
            font-size: 2rem;
            line-height: 2rem;
        }
        &__name{
            font-size: 2.5rem;
            line-height: 2.5rem;


        }
        &__adress{
            font-size: 2rem;
            line-height: 2.5rem;

            margin: 1rem 0 1rem;

        }

        &__text{
            font-size: 2.5rem;
            line-height: 2.5rem;


        }
    }

    .all-comments__my-button{
        font-size: 2.8rem;
        line-height: 2.8rem;

    }

    .advantage-card{
        font-size: 2.5rem;
        line-height: 2.5rem;
        min-height: 43.9rem;

    }

    

    

    .nav-footer{
        max-width: 90%;
    }
    .my-indicators-color {
        bottom: -6rem;
    }
    .networks {
        margin-top: 2.1rem;
    }

.my-column {
    // width: 15.4rem;
    max-width: 22.4rem;
}
.delivery__items{
        margin-top: 1.7rem;
    }
    .display-block{
        display: block;
        font-size: 1.8rem;
    }
    .my-ul{
        margin-top: 3rem;
    }

    .my-nav {
        .mobile-hide{
        display: none;
    }
}


}
